script.
  Array.from(document.getElementsByClassName("cloze")).forEach(tag => {
    tag.onclick = function () {
      tag.style.color = '#268bd2'
    }
  })
  Array.from(document.getElementsByTagName("u")).forEach(tag => {
    tag.style.background = `url(r${tag.textContent}.svg) no-repeat center right`
    tag.style.backgroundSize = 'contain'
    tag.style.paddingRight = '1.4em'
    tag.style.textDecoration = 'none'
    tag.style.fontWeight = 'bold'
    tag.textContent = tag.textContent.replace(/[0-9]/g, '')
  })

  function replaceText(query, regex, replacement) {
    Array.from(document.querySelectorAll(query)).forEach(tag => {
      tag.innerHTML = tag.innerHTML.replaceAll(regex, replacement)
    })
  }

  setTimeout(function () {
    const terms = new RegExp("(<b>[\\u00BF-\\u00FF\\w\\s,'-]+</b>)\\s+([\\u2E80-\\u9FFFｲ𧘇𠂉𡗗𠦝丿十卄]+)", 'gi')
    replaceText(".notes", terms, "<b>$1</b>&nbsp;<span class='part'>$2</span>")
    const kana = new RegExp("([一-龘ぁ-んァ]+)", 'gi')
    replaceText(".details", kana, "<em>$1</em>")
    const symbols = new RegExp("\\s+([◈◇◆▣□■△⨹⧊▲◉◎⨀◌⏜▬⧨⇓⨺]+)", 'gi')
    replaceText("h1", symbols, "<span class='type'>$1</span>")
  }, 400)
