script.
  Array.from(document.getElementsByClassName("cloze")).forEach(tag => {
    tag.onclick = function () {
      tag.style.color = '#268bd2'
    }
  })
  Array.from(document.getElementsByTagName("u")).forEach(tag => {
    tag.style.background = `url(r${tag.textContent}.svg) no-repeat center right`
    tag.style.backgroundSize = 'contain'
    tag.style.paddingRight = '1.4em'
    tag.style.textDecoration = 'none'
    tag.style.fontWeight = 'bold'
    tag.textContent = tag.textContent.replace(/[0-9]/g, '')
  })
  setTimeout(function () {
    const parts = new RegExp("(<b>[\\w\\s,]+</b>)\\s+([一-龘ぁ-んァ-ン\\u2E80-\\u2EFF々]+)", 'gi')
    Array.from(document.getElementsByClassName("notes")).forEach(tag => {
      const replacement = tag.innerHTML.replaceAll(parts, "<b>$1</b>&nbsp;<span class='part'>$2</span>")
      tag.innerHTML = replacement
    })
    const symbols = new RegExp("([▲⟁△⨹⧊◉◎⨀⏜▬⧨⇓]+)", 'gi')
    Array.from(document.getElementsByTagName("h1")).forEach(tag => {
      const replacement = tag.innerHTML.replaceAll(symbols, "<span class='type'>$1</span>")
      tag.innerHTML = replacement
    })
  }, 400)
