script.
  Array.from(document.getElementsByClassName("cloze")).forEach(tag => {
    tag.onclick = function () {
      tag.style.color = '#268bd2'
    }
  })

  function replaceText(query, regex, replacement) {
    Array.from(document.querySelectorAll(query)).forEach(tag => {
      tag.innerHTML = tag.innerHTML.replaceAll(regex, replacement)
    })
  }
  
  // x3000 - x30FF: punctuation, hiragana and katakana
  // x4E00 - x9FFF: cjk unified ideographs
  setTimeout(function () {
    const terms = new RegExp("(<b>[\\u00BF-\\u00FF\\w\\s,'-]+</b>)\\s+([\\u2E80-\\u9FFFｲ𧘇𠂉𡗗𠦝丿十卄]+)", 'gi')
    replaceText(".notes", terms, "<b>$1</b>&nbsp;<span class='part'>$2</span>")
    const kanjikana = new RegExp("([一-龘\\u3000-\\u30FF]+)", 'gi')
    replaceText(".details", kanjikana, "<em>$1</em>")
    const symbols = new RegExp("\\s+([◈◇◆▣□■△⨹⧊▲⨀⏜▬⧨⇓⨺]+)", 'gi')
    replaceText("h1, .listening", symbols, "<span class='type'>$1</span>")
    // wrap kana in meaning
    const kana = new RegExp("([\\u3000-\\u30FF]+)", 'gi')
    replaceText(".meaning", kana, "<span class='type'>$1</span>")
  }, 400)
