include _mixins
+main(color, mode, 'back')
  .top
    +field('picture')
    .text
      +title('furigana')
      +title('nederlands')
      +fields('notes')
  +audioheader(grammar[1] || grammar[0])
  +fields('target', 'strokes', 'kana', 'details')
