include _mixins
+main(color, mode, 'back')
  .top
    +field('picture')
    +text
      +title('furigana')
      +title('meaning')
      +fields('kana', 'target')
  +audioheader(grammar[1] || grammar[0])
  +fields('notes', 'strokes', 'details')
