doctype html
include _field
main(class=`${color} ${mode} back`)
  .top
    include _picture
    .text
      +title('furigana')
      +title('nederlands')
      +fields('notes')
  h2!= grammar[1] || grammar[0]
    include _audio
  +fields('target', 'strokes', 'kana', 'details')
include _radical
