doctype html
include _field
main(class=`${color} ${mode} back`)
  .top
    include _picture
    .text
      h1(class=`{{Tags}}`) {{nederlands}}
      .furigana {{furigana}}
      include _target
  h2!= grammar[1] || grammar[0]
    include _audio
  +fields('notes', 'strokes', 'kana', 'details')
include _radical
