doctype html
include _field
main(class=`${color} ${mode} back`)
  .top
    include _picture
    .text
      h1(class=`{{Tags}}`) {{nederlands}}
      +fields('notes', 'furigana')
  h2!= grammar[1] || grammar[0]
    include _audio
  +fields('strokes', 'kana', 'target', 'details')
include _radical
