= '{{#speech}}\n'
doctype html
main(class=`${color} ${mode} front`)
  .top
    |
    | {{#picture}}
    .picture {{hint:picture}}
    | {{/picture}}
    .text
      h1(class=`title {{Tags}}`) {{speech}}
      | {{#hint}}
      .hint {{hint:hint}}
      | {{/hint}}
  | {{#kanji}}
  h2!= grammar[0]
  | {{/kanji}}
  | {{^kanji}}
  h2!= grammar[1] || grammar[0]
  | {{/kanji}}
= '\n{{/speech}}'