doctype html
main(class=`${color} ${mode} back`)
  .top
    include _picture
    .text
      h1(class=`{{Tags}}`) {{nederlands}}
      .furigana {{furigana}}
      include _target
  h2!= grammar[1] || grammar[0]
    include _audio
  include _notes
  include _strokes
  div {{kana}}
include _radical
