include _mixins
+main(color, mode, 'back')
  +heading_presuffix(grammar[0], '', '書く')
  +field('picture')
  +title('meaning')
  +fields('notes', 'strokes', 'kana')
  +field('target')
  +audio
  +field('details')
