include _mixins
+main(color, mode, 'back')
  +kanjikana(grammar, suffix)
  +field('picture')
  +title('furigana')
  +title('meaning')
  +fields('notes', 'kana')
  +field('target')
  +audio
  +fields('strokes', 'details')
