include _mixins
+main(color, mode, 'back')
  +kanjikana(grammar, suffix)
  +field('picture')
  +title('meaning')
  +heading('furigana')
  +field('kana')
  +fields('notes', 'target', 'strokes', 'details')
  +audio
