include _mixins
+main(color, 'listening', 'back')
  +field('picture', back)
  +heading('reading', back, symbols)
  +spans(back, 'meaning', 'speaking')
  +field('strokes', back)
  +field('notes', back)
  +field('listening', back, symbols)
  +listening(front)
  +heading('reading', front, symbols)
  +spans(front, 'meaning', 'speaking')
  +field('notes', front)
  +field('picture', front)
