include _mixins
+main('blue', 'writing', 'back')
  +field('picture', back)
  +heading('reading', back, symbols)
  +spans(back, 'meaning', 'speaking')
  +field('strokes', back)
  +field('notes', back)
  +field('listening', back, symbols)
  h2 書く 対義語
  +heading('reading', front, symbols)
  +spans(front, 'meaning', 'speaking')
  +field('notes', front)
  +field('picture', front)
