include _field
+main('blue', 'listening', 'back')
  +field('picture', front)
  +heading('reading', front)
  +field('speaking', front)
  +field('notes', front)
  +listening(front)
  +heading('reading', back)
  +field('speaking', back)
  +field('strokes', back)
  +field('notes', back)
  +field('listening', back)