include _mixins
+main('blue', 'writing', 'back')
  +heading('reading', front)
  +field('notes', front)
  +field('picture', front)
  +field('listening', front)
  h2 書く 対義語
  +heading('reading', back)
  +field('speaking', back)
  +field('strokes', back)
  +field('notes', back)
  +field('listening', back)
