doctype html
include _field
main(class=`${color} ${mode} back`)
  .top
    include _picture
    .text
      +field('strokes')
      +title('nederlands')
      +field('on')
  h2!= grammar[0]
    include _audio
  +fields('notes', 'target')
include _radical
