include _mixins
+main(color, mode, 'back')
  +kanjikana(grammar, suffix)
  +field('picture')
  +optional('#kanji')
    +heading('furigana')
  +optional('^kanji')
    +heading('kana')
  +title('meaning')
  +optional('#kanji')
    +field('kana')
  +field('target')
  +fields('notes', 'strokes', 'details')
  +audio
