include _mixins
+main(color, mode, 'back')
  .top
    +field('picture')
    +text
      +field('strokes')
      +title('nederlands')
      +field('on')
  +audioheader(grammar[0])
  +fields('notes', 'target')
