include _mixins
+main(color, mode, 'back')
  +subheader(grammar[0], suffix)
  +field('picture')
  +title('kanji')
  +title('meaning')
  +field('kana')
  +fields('notes', 'target')
  +audio
  +fields('strokes', 'details')
