include _field
+main(color, mode, 'back')
  .top
    +field('picture')
    .text
      | {{#kanji}}
      h1(class=`kanji {{Tags}}`) {{furigana}}
      | {{/kanji}}
      | {{^kanji}}
      h1(class=`kanji {{Tags}}`) {{kana}}
      | {{/kanji}}
  h1 {{nederlands}}
  +field('notes')
  | {{#kanji}}
  +field('kana')
  h2!= grammar[0]
    include _audio
  | {{/kanji}}
  | {{^kanji}}
  h2!= grammar[1] || grammar[0]
    include _audio
  | {{/kanji}}
  +fields('target', 'strokes', 'details')
