doctype html
main(class=`${color} ${mode} back`)
  .top
    include _picture
    .text
      | {{#kanji}}
      h1(class=`kanji {{Tags}}`) {{furigana}}
      | {{/kanji}}
      | {{^kanji}}
      h1(class=`kanji {{Tags}}`) {{kana}}
      | {{/kanji}}
      include _target
  | {{#kanji}}
  h2!= grammar[0]
    include _audio
  h1 {{nederlands}}
  | {{#kana}}
  div {{kana}}
  | {{/kana}}
  | {{/kanji}}
  | {{^kanji}}
  h2!= grammar[1] || grammar[0]
    include _audio
  h1 {{nederlands}}
  | {{/kanji}}
  include _notes
  include _strokes
  include _details
include _radical
