include _mixins
+main(color, mode, 'back')
  .top
    +field('picture')
    +text
      +optional('#kanji')
        +heading('furigana')
      +optional('^kanji')
        +heading('kana')
      h1 {{nederlands}}
  +field('notes')
  +optional('#kanji')
    +field('kana')
    +audioheader(grammar[0])
  +optional('^kanji')
    +audioheader(grammar[1] || grammar[0])
  +fields('target', 'strokes', 'details')
