doctype html
main(class=`${color} ${mode} front`)
  .top
    include _picture_hint
    .text
      | {{#kanji}}
      h1(class=`kanji {{Tags}}`) {{kanji}}
      | {{/kanji}}
      | {{^kanji}}
      h1(class=`kanji {{Tags}}`) {{kana}}
      | {{/kanji}}
      include _target
  | {{#kanji}}
  h2!= grammar[0]
  | {{/kanji}}
  | {{^kanji}}
  h2!= grammar[1] || grammar[0]
  | {{/kanji}}

