doctype html
main(class=`${color} ${mode} front`)
  .top
    |
    | {{#picture}}
    .picture {{hint:picture}}
    | {{/picture}}
    .text
      | {{#kanji}}
      h1(class=`title {{Tags}}`) {{kanji}}
      | {{/kanji}}
      | {{^kanji}}
      h1(class=`title {{Tags}}`) {{kana}}
      | {{/kanji}}
      | {{#target}}
      .target {{hint:target}}
      | {{/target}}
  | {{#kanji}}
  h2!= grammar[0]
  | {{/kanji}}
  | {{^kanji}}
  h2!= grammar[1] || grammar[0]
  | {{/kanji}}

