include _mixins
+main(color, mode, 'back')
  .top
    +field('picture')
    .text
      +field('strokes')
      +title('nederlands')
      +field('on')
  h2!= grammar[0]
    include _audio
  +fields('notes', 'target')
