doctype html
main(class=`${color} ${mode} back`)
  | {{#kanji}}
  h1.title {{kanji}}
  | {{#picture}}
  div {{picture}}
  | {{/picture}}
  | {{#target}}
  div {{target}}
  | {{/target}}
  h1 {{nederlands}}
  | {{#kana}}
  div {{kana}}
  | {{/kana}}
  h2!= grammar[0]
    span.speech {{speech}}
  | {{/kanji}}
  | {{^kanji}}
  h1.title {{kana}}
  | {{#picture}}
  div {{picture}}
  | {{/picture}}
  | {{#target}}
  div {{target}}
  | {{/target}}
  h1 {{nederlands}}
    span.speech {{speech}}
  h2!= grammar[1] || grammar[0]
  | {{/kanji}}
  | {{#notes}}
  div {{notes}}
  | {{/notes}}
  | {{#context}}
  div.context {{context}}
  | {{/context}}
  | {{#strokes}}
  div.strokes {{strokes}}
  | {{/strokes}}
