doctype html
include _field
main(class=`${color} ${mode} back`)
  .top
    include _picture
    .text
      div(class=`strokes {{Tags}}`) {{strokes}}
      h1 {{nederlands}}
      include _target
  h2!= grammar[0]
    include _audio
  +fields('on', 'notes')
include _radical
