include _mixins
+main(color, mode, 'front')
  .top
    +hint('picture')
    +text
      +optional('#kanji')
        +heading('kanji')
      +optional('^kanji')
        +heading('kana')
      +hint('target')
  +optional('#kanji')
    h2!= grammar[0]
  +optional('^kanji')
    h2!= grammar[1] || grammar[0]

