doctype html
main(class=`${color} ${mode} back`)
  .top
    include _picture
    .text
      h1(class=`{{Tags}}`) {{nederlands}}
      include _target
      div {{kana}}
  h2!= grammar[1] || grammar[0]
    include _audio
  include _notes
  div {{furigana}}
  include _strokes
include _radical
