doctype html
main(class=`${color} ${mode} back`)
  .top
    |
    | {{#picture}}
    .picture {{picture}}
    | {{/picture}}
    .text
      h1(class=`{{Tags}}`) {{nederlands}}
      | {{#target}}
      .target {{target}}
      | {{/target}}
      div {{kana}}
  h2!= grammar[1] || grammar[0]
    span.speech {{speech}} {{context}}
  | {{#notes}}
  div {{notes}}
  | {{/notes}}
  div {{furigana}}
  | {{#strokes}}
  div.strokes {{strokes}}
  | {{/strokes}}
include _radical.pug
