doctype html
main(class=`${color} ${mode} back`)
  |
  h1 {{nederlands}}
  | {{#picture}}
  div {{picture}}
  | {{/picture}}
  | {{#target}}
  div {{target}}
  | {{/target}}
  div {{kana}}
  h2!= grammar[1] || grammar[0]
    span.speech {{speech}}
  | {{#notes}}
  div {{notes}}
  | {{/notes}}
  div {{kanji}}
  | {{#context}}
  div.context {{context}}
  | {{/context}}
  | {{#strokes}}
  div.strokes {{strokes}}
  | {{/strokes}}
