doctype html
main(class=`${color} ${mode} back`)
  |
  h1 {{nederlands}}
  h2!= grammar[1] || grammar[0]
    span.speech {{speech}}
  div {{kana}}
  | {{#notes}}
  div {{notes}}
  | {{/notes}}
  div {{kanji}}
  | {{#context}}
  div.context {{context}}
  | {{/context}}
  | {{#strokes}}
  div.strokes {{strokes}}
  | {{/strokes}}
