include _mixins
+main(color, mode, 'back')
  .top
    +field('picture')
    .text
      +title('nederlands')
      h1(class=`kanji {{Tags}}`) {{furigana}}
      +field('kana')
  +audioheader(grammar[1] || grammar[0])
  +fields('notes', 'target', 'strokes', 'details')
