doctype html
main(class=`${color} ${mode} back`)
  .top
    |
    | {{#picture}}
    .picture {{picture}}
    | {{/picture}}
    .text
      h1(class=`title {{Tags}}`) {{nederlands}}
      | {{#target}}
      .target {{target}}
      | {{/target}}
      div {{kana}}
  h2!= grammar[1] || grammar[0]
    span.speech {{speech}}
  | {{#notes}}
  div {{notes}}
  | {{/notes}}
  div {{kanji}}
  | {{#context}}
  div.context {{context}}
  | {{/context}}
  | {{#strokes}}
  div.strokes {{strokes}}
  | {{/strokes}}
