main(class=`${color} ${mode} back`)
  |
  h1(class=`title {{Tags}}`) {{kanji}}
  div {{kana}}
  h2!= grammar[1] || grammar[0]
  h1 {{nederlands}} {{speech}}
  | {{#notes}}
  div {{notes}}
  | {{/notes}}
  | {{#context}}
  div.context {{context}}
  | {{/context}}
  | {{#strokes}}
  div.strokes {{strokes}}
  | {{/strokes}}
