include _mixins
+main(color, mode, 'front')
  .top
    +hint('picture')
    +text
      +title('nederlands')
      +hint('hint')
  +optional('#kanji')
    h2!= grammar[0]
  +optional('^kanji')
    h2!= grammar[1] || grammar[0]
