doctype html
include _field
main(class=`${color} ${mode} back`)
  .top
    include _picture
    .text
      h1(class=`{{Tags}}`) {{nederlands}}
      include _target
  h2!= grammar[1] || grammar[0]
    include _audio
  +fields('strokes', 'notes')
  div {{furigana}} {{kana}}
  include _details
include _radical
