include _field
+main(color, mode, 'front')
  .top
    +hint('picture')
    .text
      h1(class=`{{Tags}}`) {{nederlands}}
      +hint('hint')
  | {{#kanji}}
  h2!= grammar[0]
  | {{/kanji}}
  | {{^kanji}}
  h2!= grammar[1] || grammar[0]
  | {{/kanji}}
