include _mixins
+main(color, mode, 'back')
  .top
    +field('picture')
    .text
      +title('nederlands')
  +fields('strokes', 'notes', 'on')
  h2!= grammar[0]
    include _audio
  +field('target')
