@media only screen and (orientation: portrait)
  .strokes
    svg
      width: 40vw
      height: 40vw
  svg
    width: 80vw
    height: 80vw

@media only screen and (orientation: landscape)
  .strokes
    svg
      width: 28vh
      height: 28vh
  svg
    width: 56vh
    height: 56vh

@media only screen and (orientation: portrait) and (min-device-width: 1024px)
  .strokes
    svg
      width: 20vh
      height: 20vh
  svg
    width: 40vh
    height: 40vh

main
  &.jukukanji h2
    background-color: #6c71c4

  &.jukukana h2, &.magenta h2
    background-color: #d33682

  &.jukumasu h2
    background-color: #2aa198

  &.jukuteta h2
    background-color: #268bd2

  &.toonyomi h2
    background-color: #b58900

  &.tokanji h2, &.kanji h2
    background-color: #b58900

  &.jukugo h2
    background-color: #d33682

  b
    font-size: 16pt

  em
    font-size: 18pt
    font-style: normal

svg
  text
    font: 8pt helvetica
    stroke-width: 0
    fill: #586e75

  path
    stroke-width: 4pt
    fill: #ffffff
    fill-opacity: 0

  .stroke-1
    stroke: #E8ECFB

  .stroke-2
    stroke: #D9CCE3

  .stroke-3
    stroke: #CAACCB

  .stroke-4
    stroke: #BA8DB4

  .stroke-5
    stroke: #AA6F9E

  .stroke-6
    stroke: #994F88

  .stroke-7
    stroke: #882E72

  .stroke-8
    stroke: #7BAFDE

  .stroke-9
    stroke: #6195CF

  .stroke-10
    stroke: #437DBF

  .stroke-11
    stroke: #1965B0

  .stroke-12
    stroke: #CAE0AB

  .stroke-13
    stroke: #4EB265

  .stroke-14
    stroke: #90C987

  .stroke-15
    stroke: #F7F056

  .stroke-16
    stroke: #F7CB45

  .stroke-17
    stroke: #F4A736

  .stroke-18
    stroke: #EE8026

  .stroke-19
    stroke: #E65518

  .stroke-20
    stroke: #DC050C

  .stroke-21
    stroke: #A5170E

  .stroke-22
    stroke: #72190E

  .stroke-23
    stroke: #42150A


.card.night_mode
  svg
    text
      fill: #93a1a1

.card
  font-family: Helvetica, sans-serif
  font-size: 14pt
  text-align: center
  color: black
  background-color: #fdf6e3

h1, h2
  font-size: 20pt
  font-weight: normal
  margin: 8pt 0

h2
  color: white

div
  margin: 8pt 0

.notes, .border
  border-top: 1px solid grey
  padding-top: 8pt
  margin: 8pt 0

.front
  svg
    text
      fill: transparent

.tomeaning, .toonyomi, .jukukana
  .title
    font-size: 48pt
    font-family: 'Hiragino Sans', sans-serif

  .strokes
    border: none

    svg
      text
        fill: transparent

.extra
  font-size: 10pt
  margin: 8pt 0

.kana
  color: #268bd2

.cloze
  color: #268bd2

b
  font-size: 24pt
