/* https://en.wikipedia.org/wiki/Solarized_(color_scheme) */
.card {
  font-family: helvetica;
  font-size: 13pt;
  text-align: center;
  color: black;
  background-color: #fdf6e3;
}

h1, h2 {
  font-size: 20pt;
  font-weight: normal;
  margin: 8pt 0
}

h2 {
  color: white;
}

.jukukanji h2 {
  background-color: #6c71c4;
}

.jukukana h2 {
  background-color: #d33682;
}

.jukumasu h2 {
  background-color: #2aa198;
}

.jukuteta h2 {
  background-color: #268bd2;
}

.toonyomi h2 {
  background-color: #b58900;
}

.tokanji h2 {
  background-color: #dc322f;
}

main div {
  border-top: 1px solid grey;
  padding-top: 8pt;
  font-size: 14pt;
  margin: 8pt 0
}

main b {
  font-size: 15pt;
}

.extra {
  font-size: 10pt;
  margin: 8pt 0;
}

.kanji {
  border: none;
  margin-top: 8pt;
  font-size: 48pt;
  font-family: 'Hiragino Mincho ProN', 'HiraMinProN-W3';
}

.kana {
  color: #268bd2;
}

.cloze {
  color: #268bd2;
}

b {
  font-size: 24pt;
}