$base1: #93a1a1
$base3: #fdf6e3
$yellow: #b58900
$orange: #cb4b16
$red: #dc322f
$magenta: #d33682
$violet: #6c71c4
$blue: #268bd2
$cyan: #2aa198
$green: #859900

// iphone
@media only screen and (orientation: portrait)
  .strokes
    svg
      width: 40vw
      height: 40vw
  svg
    width: 80vw
    height: 80vw

  main
    .details
      margin: .4em 1em

// iphone
@media only screen and (orientation: landscape)
  .strokes
    svg
      width: 28vh
      height: 28vh
  svg
    width: 56vh
    height: 56vh

// ipad and desktop
@media only screen and (min-device-width: 1024px)
  .strokes
    svg
      width: 20vh
      height: 20vh
  svg
    width: 40vh
    height: 40vh

  main
    .details
      margin: .4em 2em

  .top
    display: flex

    *
      margin: 0

    .picture
      flex: 1 1 50%

    .text
      flex: 1 1 50%
      display: flex
      flex-direction: column
      gap: 8pt

h1
  font-size: 2rem
  line-height: 2.2rem
  font-weight: normal
  margin: 0

  .type
    font-size: 1rem
    font-weight: normal
    margin: 4px
    vertical-align: 0.4rem

h2
  font-size: 1.4rem
  font-weight: normal
  color: white
  margin: 8px 0

  span
    margin-left: .8rem

table
  text-align: left
  margin: 0 auto
  font-size: 0.8rem

  td
    padding-right: 1em

main.listening, main.writing
  .listening
    .type
      display: none

main.grammar
  .details, .grammar
    font-size: 1.0rem

  .sentence
    font-size: 1.2rem

    b
      color: $blue
      font-weight: normal

    pre
      display: none

main
  &.jukukanji h2, &.violet h2
    background-color: $violet

  &.jukukana h2, &.magenta h2
    background-color: $magenta

  &.jukumasu h2, &.cyan h2
    background-color: $cyan

  &.jukuteta h2, &.blue h2
    background-color: $blue

  &.toonyomi h2, &.yellow h2
    background-color: $yellow

  &.tokanji h2
    background-color: $yellow

  &.jukugo h2
    background-color: $magenta

  &.green h2
    background-color: $green

  .notes
    line-height: 1.5rem

    .part
      color: red

    b
      font-size: 1.4rem

    em
      font-size: 1.4rem
      font-style: normal

  .details
    font-size: 0.8rem
    text-align: left

    em
      color: red
      font-style: normal

    ul
      margin: .4em 0
      padding: 0 1em

  .furigana
    font-size: 3rem
    line-height: 3rem

.card.night_mode
  svg
    text
      fill: $base1

.card
  font-family: Helvetica, sans-serif
  font-size: 1.2rem
  text-align: center
  color: black
  background-color: $base3

.hint, .picture
  font-size: 1.4rem
  line-height: 1.8rem

  a
    color: $base1

.target
  font-size: 1.4rem
  line-height: 1.8rem

  a
    color: $base1

  i
    margin-left: .4em

  ruby
    font-size: 1.4rem

    rt
      font-size: 0.8rem

.front
  svg
    text
      fill: transparent

  .target

    rt, i
      display: none

.back
  .target

    i
      display: inline-block

.speech
  position: absolute
  right: 24px

  .replay-button
    margin: 0
    padding: 0

    svg
      width: 24pt
      height: 24pt

.kanji, .kanji em
  line-height: 3rem
  font-size: 3rem
  font-family: 'Hiragino Sans', sans-serif

.strokes
  border: none

.lookalike, .leech
  .kanji, .strokes
    border: 1px solid $magenta

.homophone
  border: 1px solid $blue

.synonym
  border: 1px solid $cyan

.onkanji
  div.strokes
    display: none

.jukukana
  svg
    text
      fill: transparent

.front
  .cloze
    color: $blue

.back
  .cloze
    color: $blue

svg
  text
    font: 8pt helvetica
    stroke-width: 0
    fill: #586e75

  path
    stroke-width: 4pt
    fill: #ffffff
    fill-opacity: 0

  .stroke-1
    stroke: #E8ECFB

  .stroke-2
    stroke: #D9CCE3

  .stroke-3
    stroke: #CAACCB

  .stroke-4
    stroke: #BA8DB4

  .stroke-5
    stroke: #AA6F9E

  .stroke-6
    stroke: #994F88

  .stroke-7
    stroke: #882E72

  .stroke-8
    stroke: #7BAFDE

  .stroke-9
    stroke: #6195CF

  .stroke-10
    stroke: #437DBF

  .stroke-11
    stroke: #1965B0

  .stroke-12
    stroke: #CAE0AB

  .stroke-13
    stroke: #4EB265

  .stroke-14
    stroke: #90C987

  .stroke-15
    stroke: #F7F056

  .stroke-16
    stroke: #F7CB45

  .stroke-17
    stroke: #F4A736

  .stroke-18
    stroke: #EE8026

  .stroke-19
    stroke: #E65518

  .stroke-20
    stroke: #DC050C

  .stroke-21
    stroke: #A5170E

  .stroke-22
    stroke: #72190E

  .stroke-23
    stroke: #42150A

